RewriteEngine On
RewriteBase /

# Don't rewrite actual files and directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Route everything through router-dev.php
RewriteRule ^(. *)$ router-dev.php?url=$1 [QSA,L]
